body.projects-temp{
	background: $white;

}


.projects{
	header{
		position: relative;
		z-index: 500;
		// width: 100%;
		@include col(12);
		height: 54px;
		background: #252525;
		font-family: 'Ubuntu', "Helvetica Neue Light", Helvetica, Arial, sans-serif;
		border-bottom: 1px solid $black;
	}

	header h1{
		color: $red;
		font-size: 1.6em;
		display: inline-block;
		line-height: 54px;
		text-align: center;
		@include col(7);
		@include col_margin_auto(7);
	}

	h3{
		font-weight: 100;
		margin-bottom: 9px;
		color: $red;
		font-size: 2.7em;
		text-align: center;
	}
}

.header-inner{
	// max-width: 1140px;
	@include col(12);
	margin: 0 auto;
	// padding: 0 36px;
	font-weight: 100;
	overflow: hidden;
}

nav{
	overflow: hidden;
	// display: inline; //do not use. Breaks JQuery show/hide
	position: relative;
	z-index: 99999;

	ul{
		float: right;
		margin-bottom: 0;
		@include col(12);

		a{
			color: $icon-gray;
			text-align: center;
		}

		li{
			display: block;
			font-size: .8em;
			padding-left: 18px;
			line-height: 54px;
			background: $dark-gray;
			border-bottom: 1px solid $black;
		}

		li:hover{
			opacity: .8;
		}
	}
} 

.menu-btn{
	position: absolute;
	right: 18px;
	top: 14px;
	z-index: 9999;
}

.menu-btn:hover{
	opacity: .5;
}

.featured{
	@include col(12);
	overflow: hidden;
	// position: relative;

	h2{
		display: none;
	}

	img{
		display: none;
		@include col(12);
	}
}

.project-inner{
	// max-width: 1140px;
	@include col(11);
	margin: 0 auto;
}

.description{
	text-align: center;
	padding: 87px 0 88px; /*keeps height fluid -no height defined on div*/
	border-bottom: 1px solid $icon-gray;

	h3{
		font-size: 4.5em;
		font-family: 'Tangerine', cursive;
	}
}

.description h4, .details-sidebar h4{
	font-size: 1.8em;
	font-weight: 100;
	// width: 100%;
	@include col(12);
}

.details{
	overflow: hidden;
	padding: 88px 0 0;
	border-bottom: 1px solid $icon-gray;
	margin-bottom: 108px;
	position: relative;
}

.details-desc{
	// max-width: 570px;
	@include col(12);
	padding-right: 3.157895%;/*18px*/
	float: left;

	p{
		margin-bottom: 36px;
	}
}

.details-sidebar{
	// max-width: 570px;
	@include col(12);
	float: left;
	padding-top: 36px;

	h4{
		margin-bottom: 9px;
		color: $red;
		padding-bottom: 9px;
		border-bottom: 1px solid $icon-gray;
	}

	p{
		margin-bottom: 39px;
	}

	ul{
		list-style-type: disc;
		padding-left: 16px;
		margin-bottom: 72px;
	}
}

.github-link{
	display: block;
	font-size: 1.4em;
	margin-bottom: 9px;
	position: absolute;
	bottom: 0;
}

.shots{
	overflow: hidden;
	margin-bottom: 88px;
	@include col(11);
	@include col_margin_auto(11);

		img{
			display: block;
			margin-bottom: 72px;
		}
}



.shot-left-col{
	float: left;
	margin-right: 36px;
}

.shot-right-col{
	float: left;
}

.lb-caption{/*overrides lightbox caption font settings*/
	font-family: 'Ubuntu', "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	font-weight: 100;
	color: $icon-gray;
}

.project-contact{
	h3{
		text-align: center;
	}

	.contact-icons{
		margin: 0 auto 88px;
		// width: 1140px;
		@include col(11);
		text-align: center;

		a{
			display: inline-block;
			padding: 36px;
		}
	}
}






/*Media Queries====================*/

/* Smartphones =====================*/
// @media only screen 
// and (min-width : 200px){

// }









/* min width 480 ======================*/
@media only screen 
and (min-width : 480px) {

}









/* min width 767 ======================*/
@media only screen 
and (min-width : 767px) {

	.projects{
		header{
			opacity: .8;
			position: fixed;
		}

		header h1{
			color: $icon-gray;
			display: inline;
			@include col(7);
			@include col_margin_auto(0);
		}

		h3{
			text-align: left;
		}
	}

	.header-inner{
		@include col(11);
		@include col_margin_auto(11);
	}

	nav{
		ul{
			@include col(5);
			li{
				display: inline-block;
				background: none;
				border: none;
			}
		}
	} 

	/*check the above for duplicate rules*/
	.featured{
		position: relative;
		@include col(12);

		h2{
			display: block;
			position: absolute;
			top: 34%;
			left: 22%;
			bottom: 34%;
			right: 22%;
			z-index: 200;
			font-size: 7.5em;/*fallback for vw font size*/
			font-size: 8.5vw; /*when combined with above %based positions, the text floats center and resizes with div*/
			font-family: 'Tangerine', cursive;
			color: $red;
			text-align: center;
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
		}

		img{
			display: block;
		}
	}

	.description{

		h3{
			font-size: 5.8em;
			text-align: center;
		}
	}

	.description h4, .details-sidebar h4{
		font-size: 2.1em;
	}

	.details-desc{
		@include col(6);

		p{
			margin-bottom: 162px;
		}
	}

	.details-sidebar{
		@include col(6);
	}

	.shots{
		@include col(10);
		@include col_margin_auto(10);

			img{
				display: inline;
			}
	}

	.project-contact{
		h3{
			text-align: center;
			border-bottom: 1px solid $icon-gray;
		}
	}

	body.projects-temp .contact-icons{
		border-bottom: 1px solid $icon-gray;
	}
}










/* min width 980 ======================*/
@media only screen 
and (min-width : 980px) {

	.shots{
		@include col(12);
		@include col_margin_auto(12);
		overflow: hidden;

			img{
				@include col(5);
				display: inline;
				margin-left: 18px;
			}
	}

}









/* min width 1500 ======================*/
@media only screen 
and (min-width : 1500px) {

	.projects{
		nav{
			ul{
				@include col(3);
			}
		}
	} 

	.shots{
		@include col(12);
		@include col_margin_auto(12);
		overflow: hidden;

			img{
				@include col(5);
				display: inline;
				margin-left: 18px;
			}
	}

	.shot-left-col{
		@include col(11);
		@include col_margin_auto(11);
	}

	.shot-right-col{
		@include col(11);
		@include col_margin_auto(11);
	}
}

























