/* 
	Thanks for checking out my code!!


	Copyright Adam Gedney 10/21/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/
/*
white: f6feff;
icon light gray: cccccc;
light gray: 5c5c5c;
text mid gray: 5d5d5d;
dark gray: 252525;
red: d93330;
blue: 5d95ba;

----------------SASS------------------*/
/*--------------------------------------Start CSS Reset---------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, cite, code, del, em, img, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

/*--------------------------------------End CSS Reset / Start General-------------------------------*/
body {
  background: url("../images/bg.jpg") no-repeat #f6feff;
  background-size: cover;
  background-attachment: fixed;
  color: #5d5d5d;
  font: 62.5% "Droid Serif", "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; }

h1, h2, h3, h4 {
  font-family: "Ubuntu", "Helvetica Neue Light", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 7.2em;
  /*18x4*/
  line-height: 1.5; }

h2 {
  font-size: 5.4em;
  /*18x3*/
  line-height: 1.5; }

h3 {
  font-size: 3em;
  /*18x2 - 6*/
  line-height: 1.5; }

p, ul, dl {
  font-size: 1.8em;
  font-weight: 100;
  line-height: 1.5;
  margin-bottom: 20px; }

ul {
  line-height: 1.5; }

a, input[type="submit"] {
  text-decoration: none;
  color: #5d95ba;
  opacity: 1;
  transition-duration: .7s;
  -webkit-transition-duration: .7s;
  outline: none; }

a:visited {
  outline: none; }

a:hover, input[type="submit"]:hover {
  opacity: .5;
  transition-duration: .7s;
  -webkit-transition-duration: .7s; }

a.no-tran:hover {
  opacity: 1; }

img {
  max-width: 100%; }

/*--------------------------------------End General / Start Objects------------------------------------*/
.hide-text {
  text-indent: 200%;
  overflow: hidden;
  white-space: nowrap; }

.container {
  width: 100%; }

.page {
  width: 100%;
  height: 831px;
  margin-bottom: 9px; }

.double {
  height: 1680px; }

.red {
  color: #d93330; }

.text-gray {
  color: #5d5d5d; }

.dark-gray {
  color: #252525; }

.underline {
  text-decoration: underline; }

.heart {
  font-size: .85em; }

/*--------------------------------------End Objects / Start Main------------------------------------*/
header {
  height: 0; }

.page:nth-child(1n+1) {
  background: #f6feff;
  color: #252525; }

.page:nth-child(2n+1) {
  background: #252525;
  color: #cccccc; }

.page-inner {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 54px;
  text-align: center;
  font-weight: 100; }

.page p {
  width: 504px;
  /*28x18*/
  margin: 0 auto;
  font-weight: 100; }

.img-container {
  overflow: hidden;
  margin-top: 36px; }

.img-container a {
  float: left;
  display: block;
  width: 20%;
  /*210px*/
  height: 210px; }

/*--------------------------------------------Landing----------------------------------------------*/
.page.landing {
  background: #f6feff;
  height: 535px;
  /* 18x7=126 -> 831-126 -170 for landing-arrow */
  color: #252525; }

.arrow-container {
  overflow: hidden;
  width: 100%;
  margin: -10px auto 90px; }

.landing-arrow {
  margin: 0 auto; }

/*--------------------------------------------"I Like" Page----------------------------------------------*/
.like .img-container {
  height: 378px;
  /*18x21*/
  overflow: hidden; }

.like .img-container a.zig-zag {
  margin-top: 36px; }

.like .img-container a.zig-zag-1 {
  margin-top: 166px; }

.like .img-container a.zig-zag-2 {
  margin-top: 90px; }

.like .img-container a.zig-zag-3 {
  margin-top: 162px; }

.like .img-container a.zig-zag-4 {
  margin-top: 108px; }

/*---------------------------------------------"I Love" Page------------------------------------------------*/
img.web-logos {
  text-align: center;
  margin-top: 18px; }

/*---------------------------------------------"I Work" Page------------------------------------------------*/
a.resume {
  font-size: 1.8em;
  color: #cccccc;
  margin: 36px 0 72px;
  display: block; }

a.resume img {
  height: 40px;
  margin-right: 18px; }

.work .img-container {
  margin: 18px 0 126px; }

.work h3 {
  color: #d93330;
  text-align: left; }

.page p.quote {
  width: 100%;
  font-size: 3.6em;
  font-family: "Tangerine", cursive; }

/*---------------------------------------------Contact Page------------------------------------------------*/
.contact {
  height: 1584px;
  /*18x88*/ }

#map-canvas {
  width: 100%;
  height: 530px;
  margin-top: 72px;
  -webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.76);
  -moz-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.76);
  box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.76); }

.contact-body {
  overflow: hidden;
  width: 802px;
  margin: 63px auto 0; }

.contact-form {
  width: 366px;
  float: left;
  margin: 9px 36px 0 0; }

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="submit"], .contact-form textarea {
  width: 366px;
  height: 54px;
  border-radius: 2px;
  border: 1px solid #5d5d5d;
  margin-bottom: 9px;
  padding: 9px;
  font-family: "Droid Serif", "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  font-size: 1.8em;
  color: #cccccc; }

.contact-form textarea {
  height: 198px; }

.contact-form input[type="submit"] {
  background: #d93330;
  border: none;
  font-family: "Ubuntu", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #f6feff; }

.contact-content {
  width: 400px;
  float: left; }

.contact-content p {
  width: 400px;
  text-align: left;
  color: #5d5d5d;
  font-weight: 100; }

p.info {
  margin: 81px auto;
  text-align: center;
  width: 200px; }

/*----------------------------------------------Project Page Template--------------------------------*/
body.projects {
  background: #f6feff; }

.projects header {
  height: 54px;
  background: #252525;
  font-family: "Ubuntu", "Helvetica Neue Light", Helvetica, Arial, sans-serif; }

.header-inner {
  width: 1140px;
  margin: 0 auto;
  font-weight: 100; }

.projects header h1 {
  color: #cccccc;
  font-size: 1.6em;
  display: inline;
  line-height: 54px; }

nav {
  overflow: hidden;
  display: inline; }

nav ul {
  float: right;
  margin-bottom: 0; }

nav ul a {
  color: #cccccc; }

nav ul li {
  display: inline-block;
  font-size: .8em;
  padding-left: 18px;
  line-height: 54px; }

.featured {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative; }

.featured h2 {
  position: absolute;
  top: 25%;
  left: 20%;
  bottom: 25%;
  right: 20%;
  z-index: 200;
  font-size: 18em;
  /*fallback for vw font size*/
  font-size: 12.5vw;
  /*when combined with above %based positions, the text floats center and resizes with div*/
  font-family: "Tangerine", cursive;
  color: #d93330;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); }

.featured img {
  width: 100%; }

.project-inner {
  width: 1140px;
  margin: 0 auto; }

.description {
  text-align: center;
  padding: 87px 0 88px;
  /*keeps height fluid -no height defined on div*/
  border-bottom: 1px solid #cccccc; }

.description h3 {
  font-size: 5.8em;
  font-family: "Tangerine", cursive; }

.description h4, .details-sidebar h4 {
  font-size: 2.1em;
  font-weight: 100; }

.details {
  overflow: hidden;
  padding: 88px 0 0;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 108px; }

.details-desc {
  width: 570px;
  padding-right: 18px;
  float: left; }

.details-desc h3 {
  font-weight: 100;
  margin-bottom: 9px;
  color: #d93330; }

.details-desc p {
  margin-bottom: 162px; }

.details-sidebar {
  width: 570px;
  float: right;
  padding-top: 10px; }

.details-sidebar h4 {
  margin-bottom: 9px;
  color: #d93330;
  padding-bottom: 9px;
  border-bottom: 1px solid #cccccc; }

.details-sidebar p {
  margin-bottom: 39px; }

.details-sidebar ul {
  list-style-type: disc;
  padding-left: 16px; }

.github-link {
  display: block;
  font-size: 1.4em;
  margin-bottom: 9px; }

/*---------------------------------------------footer------------------------------------------------*/
footer {
  background: #252525;
  height: 144px;
  /*18x8*/
  padding-top: 70px; }

footer p {
  width: 220px;
  margin: 0 auto; }
