/* 
	Thanks for checking out my code!!


	Copyright Adam Gedney 10/21/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/
/*
white: f6feff;
icon light gray: cccccc;
light gray: 5c5c5c;
text mid gray: 5d5d5d;
dark gray: 252525;
red: d93330;
blue: 5d95ba;

----------------SASS------------------*/
$white: #f6feff;
$icon-gray: #ccc;
$light-gray: #5c5c5c;
$text-gray: #5d5d5d;
$dark-gray: #252525;
$red: #d93330;
$blue: #5d95ba;
$green: #479648;

@mixin duration($time: .7s){
		transition-duration: $time;
-webkit-transition-duration: $time;
}

/*-----12 col grid------*/

@mixin col($num_col){

	@if $num_col == 1 {
		width: 8.33333333%;
		}
	@if $num_col == 2 {
		width: 16.6666667%;
		}
	@if $num_col == 3 {
		width: 25%;
		}
	@if  $num_col == 4 {
		width: 33.3333333%;
		}
	@if $num_col == 5 {
		width: 41.6666666%;
		}
	@if $num_col == 6 {
		width: 50%;
		}
	@if $num_col == 7 {
		width: 58.3333333%;
		}
	@if $num_col == 8 {
		width: 66.6666666%;
		}
	@if $num_col == 9 {
		width: 75%;
		}
	@if $num_col == 10{
		width: 83.3333333%;
		}
	@if $num_col == 11 {
		width: 91.6666666%;
		}
	@if $num_col == 12 {
		width: 100%;
	}
}

// @include col(12);

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*--------------------------------------Start CSS Reset---------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, cite, code,del, em, img, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

ul {
list-style: none;
}

/*--------------------------------------End CSS Reset / Start General-------------------------------*/

//border box borrowed from responsive.gs
* { -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}


body{
background: url('../images/bg.jpg') no-repeat $white;
background-size: cover;
background-attachment: fixed;
color: $text-gray;
font: 62.5% 'Droid Serif', "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4{
font-family: 'Ubuntu', "Helvetica Neue Light", Helvetica, Arial, sans-serif;
}

h1{
font-size: 7.2em; /*18x4*/
line-height: 1.5;
}

h2{
font-size: 5.4em;/*18x3*/
line-height: 1.5;
}

h3{
font-size: 3em;/*18x2 - 6*/
line-height: 1.5;
}

p, ul, dl{
font-size: 1.8em;
font-weight: 100;
line-height: 1.5;
margin-bottom: 20px;
}

ul{
line-height: 1.5;
}

a, input[type="submit"]{
text-decoration: none;
color: $blue;
opacity: 1;
// @include duration;
outline: none;
-webkit-appearance: none;/*overrides safari mobile default styling*/
}

a:visited{
	outline: none;
}

a:hover, input[type="submit"]:hover{
opacity: .5;
// @include duration;
}

a.no-tran:hover{
	opacity: 1;
}

img{
	max-width: 100%;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: $icon-gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $icon-gray;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $icon-gray;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $icon-gray;
}

/*--------------------------------------End General / Start Objects------------------------------------*/


.hide-text{
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
}

.container{
	width: 100%;
}

.double{
	height: 1680px;
}

.red{
	color: $red;
}

.blue{
	color: $blue;
}

.light-gray{
	color: $icon-gray;
}

.text-gray{
	color: $text-gray;
}

.dark-gray{
	color: $dark-gray;
}

.underline{
	text-decoration: underline;
}

.heart{
	font-size: .85em;
}


/*--------------------------------------End Objects / Start Main------------------------------------*/

header{
	height: 0;
}

.page:nth-child(1n+1){
	background: $white;
	color: $dark-gray;
}

.page:nth-child(2n+1){
	background: $dark-gray;
	color: $icon-gray;
}

.page-inner{
	// max-width: 1140px;
	@include col(10);
	margin: 0 auto;
	padding-top: 54px;
	text-align: center;
	font-weight: 100;
}

.page{
	@include col(12);
	// min-height: 831px;
	margin-bottom: 9px;
	padding-bottom: 72px;

	p{
		// width: 504px; /*28x18*/
		@include col(6);
		margin: 0 auto;
		font-weight: 100;
	}

	p.quote{
		// width: 100%;
		@include col(12);
		font-size: 3.6em;
		font-family: 'Tangerine', cursive;
	}

	p.error{
		color: $white;
		font-size: .9em;
		text-align: left;
		// width: 366px;
		@include col(11);
		position: absolute;
		z-index: 99999;
		top: 25%;
		left: 4%;
		padding-left: 3%;
		background: $red;
		opacity: 0;
		@include duration;
	}

	p.error.phone-error{
			top: 39%;
		}
}

.img-container{
	overflow: hidden;
	margin-top: 36px;

		a{
			// padding: 5px;
			// margin-right: 9px;
			float: left;
			display: block;
			width: 20%; /*210px*/
			// @include col(2);
			height: 210px;
			// background: $icon-gray;
		}
}



/*--------------------------------------------Landing----------------------------------------------*/



.page.landing{
	background: $white;
	height: 535px;/* 18x7=126 -> 831-126 -170 for landing-arrow */
	color: $dark-gray;
}

.arrow-container{
	overflow: hidden;
	// width: 100%;
	@include col(12);
	margin: -10px auto 90px;
}

.landing-arrow{
	margin: 0 auto;
}



/*--------------------------------------------"I Like" Page----------------------------------------------*/

.like .img-container{
	height: 378px;/*18x21*/
	overflow: hidden;

		a.zig-zag{
			margin-top: 36px;
		}

		a.zig-zag-1{
			margin-top: 166px;
		}

		a.zig-zag-2{
			margin-top: 90px;
		}

		a.zig-zag-3{
			margin-top: 162px;
		}

		a.zig-zag-4{
			margin-top: 108px;
		}
}

p.subtext{
	margin: 36px auto;
	font-size: 2.1em;
}
















/*---------------------------------------------"I Love" Page------------------------------------------------*/


.logo_cloud{
	position: relative;
	// width: 1050px;
	// width: 91.6666666%;
	@include col(11);
	height: 440px;//height required to hold container around positioned elements
	margin: 0 4.1666667%;

	img{
		position: absolute;
	}
}

//target=.*_l/context=1050px
.air_l{
	top: 52px;
	left: 82.47619%; //866px;
}

.as_l{
	top: 147px;
	left: 76.095238%; //799px;
}

.cf_l{
	top: 239px;
	left: 06.47619%; //68px;
}

.codeigniter_l{
	top: 216px;
	left: 88.095238%; //925px;
}

.css_l{
	top: 105px;
	left: 33.619048%; //353px;
}

.drupal_l{
	top: 156px;
	left: 94.380952%; //991px;
}

.ejs_l{
	top: 168px;
	left: 67.714286%; //711px;
}

.express_l{
	top: 222px;
	left: 22.571429%; //237px;
}

.ffmpeg_l{
	top: 327px;
	left: 55.52381%; //583px;
}

.github_l{
	top: 262px;
	left: 46.47619%; //488px;
}

.handle_l{
	top: 269px;
	left: 65.238095%; //685px;
}

.html_l{
	top: 23px;
	left: 44.380952%; //466px;
}

.jquery_l{
	top: 29px;
	left: 62.190476%; //653px;
}

.js_l{
	top: 105px;
	left: 55.333333%; //581px;
}

.mongo_l{
	top: 271px;
	left: 15.428571%; //162px;
}

.mysql_l{
	top: 114px;
	left: 03.809524%; //40px;
}

.node_l{
	top: 321px;
	left: 35.142857%; //369px;
}

.php_l{
	top: 21px;
	left: 19.52381%; //205px;
}

.sass_l{
	top: 168px;
	left: 45.714286%; //480px;
}	

.terminal_l{
	top: 383px;
	left: 46.285714%; //486px;
}

.wp_l{
	top: 45px;
	left: 03.809524%; //40px;
}















/*---------------------------------------------"I Work" Page------------------------------------------------*/

a.resume{
	font-size: 1.8em;
	color: $icon-gray;
	margin:36px 0 72px;
	display: block;

		img{
			height: 40px;
			margin-right: 18px;
		}
}

.work{
	.img-container{
		margin: 18px 0 126px;
	}

	h3{
		color: $red;
		text-align: left;
	}
}

.print_thumbs{
	img{
		// padding: 5px;
		// margin-right: 9px;
		float: left;
		display: block;
		width: 18%; /*210px was 20% changed to 18%*/
		margin-left: 18px;
		height: 200px;
		// background: $icon-gray;
	}
}




















/*---------------------------------------------Contact Page------------------------------------------------*/

.contact{
	height: 1584px; /*18x88*/
}

#map-canvas{
	// width: 100%;
	@include col(12);
	height: 530px;
	margin-top: 72px;
-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.76);
   -moz-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.76);
        box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.76);
}

.contact-body{
	overflow: hidden;
	// width: 802px;
	@include col(11);
	margin: 63px 4.1666667% 0;
}

.contact-form{
	// width: 366px;
	@include col(5);
	float: left;
	margin: 9px 36px 0 0;
	position: relative;/*required for error message absolute positioning*/

	input[type="text"], input[type="email"], input[type="submit"], textarea{
		// width: 366px;
		@include col(11);
		height: 54px;
		border-radius: 2px;
		border: 1px solid $text-gray;
		margin-bottom: 9px;
		padding: 9px;
		font-family: 'Droid Serif', "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
		font-size: 1.8em;
		color: $text-gray;
	}

	textarea{
		height: 198px;
	}

	input[type="submit"]{
		background: $green;
		border: none;
		font-family: 'Ubuntu', "Helvetica Neue Light", Helvetica, Arial, sans-serif;
		font-weight: 100;
		color: $white;
	}
}

.contact-content{
	// width: 400px;
	@include col(6);
	float: left;

	p{
		// width: 400px;
		@include col(12);
		text-align: left;
		color: $text-gray;
		font-weight: 100;
	}
}

p.info{
	margin: 81px auto;
	text-align: center;
	// width: 200px;
	@include col(6);
}


















/*----------------------------------------------Project Page Template--------------------------------*/

body.projects{
	background: $white;
}

.projects{
	header{
		position: fixed;
		z-index: 500;
		// width: 100%;
		@include col(12);
		height: 54px;
		background: #252525;
		opacity: .8;
		font-family: 'Ubuntu', "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	}

	header h1{
		color: $icon-gray;
		font-size: 1.6em;
		display: inline;
		line-height: 54px;
	}

	h3{
		font-weight: 100;
		margin-bottom: 9px;
		color: $red;
	}
}

.header-inner{
	// max-width: 1140px;
	@include col(11);
	margin: 0 auto;
	padding: 0 36px;
	font-weight: 100;
}

nav{
	overflow: hidden;
	display: inline;

	ul{
		float: right;
		margin-bottom: 0;

		a{
			color: $icon-gray;
		}

		li{
			display: inline-block;
			font-size: .8em;
			padding-left: 18px;
			line-height: 54px;
		}
	}
} 

.featured{
	height: 654px;
	// width: 100%;
	@include col(12);
	overflow: hidden;
	position: relative;

	h2{
		position: absolute;
		top: 34%;
		left: 22%;
		bottom: 34%;
		right: 22%;
		z-index: 200;
		font-size: 18em;/*fallback for vw font size*/
		font-size: 8.5vw; /*when combined with above %based positions, the text floats center and resizes with div*/
		font-family: 'Tangerine', cursive;
		color: $red;
		text-align: center;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	}

	img{
		// width: 100%;
		@include col(12);
	}
}

.project-inner{
	// max-width: 1140px;
	@include col(11);
	margin: 0 auto;
}

.description{
	text-align: center;
	padding: 87px 0 88px; /*keeps height fluid -no height defined on div*/
	border-bottom: 1px solid $icon-gray;

	h3{
		font-size: 5.8em;
		font-family: 'Tangerine', cursive;
	}
}

.description h4, .details-sidebar h4{
	font-size: 2.1em;
	font-weight: 100;
	// width: 100%;
	@include col(12);
}

.details{
	overflow: hidden;
	padding: 88px 0 0;
	border-bottom: 1px solid $icon-gray;
	margin-bottom: 108px;
	position: relative;
}

.details-desc{
	// max-width: 570px;
	@include col(6);
	padding-right: 3.157895%;/*18px*/
	float: left;

	p{
		margin-bottom: 162px;
	}
}

.details-sidebar{
	// max-width: 570px;
	@include col(6);
	float: left;
	padding-top: 10px;

	h4{
		margin-bottom: 9px;
		color: $red;
		padding-bottom: 9px;
		border-bottom: 1px solid $icon-gray;
	}

	p{
		margin-bottom: 39px;
	}

	ul{
		list-style-type: disc;
		padding-left: 16px;
	}
}

.github-link{
	display: block;
	font-size: 1.4em;
	margin-bottom: 9px;
	position: absolute;
	bottom: 0;
}

.shots{
	overflow: hidden;
	margin-bottom: 88px;

		img{
			display: block;
			margin-bottom: 36px;
		}
}



.shot-left-col{
	float: left;
	margin-right: 36px;
}

.shot-right-col{
	float: left;
}

.lb-caption{/*overrides lightbox caption font settings*/
	font-family: 'Ubuntu', "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	font-weight: 100;
	color: $icon-gray;
}

.project-contact{
	h3{
		text-align: center;
		border-bottom: 1px solid $icon-gray;
	}

	.contact-icons{
		margin: 0 auto 88px;
		// width: 1140px;
		@include col(11);
		text-align: center;
		border-bottom: 1px solid $icon-gray;

		a{
			display: inline-block;
			padding: 36px;
		}
	}
}


/*---------------------------------------------footer------------------------------------------------*/


footer{
	background: $dark-gray;
	height: 144px; /*18x8*/
	padding-top: 70px;

	p{
		// width: 220px;
		@include col(12);
		text-align: center;
		// margin: 0 auto;
	}
}

