/* 
	Thanks for checking out my code!!


	Copyright Adam Gedney 10/21/13
	contact: adam.gedney@gmail.com
	http://adamgedney.com

"Good UI design is humble.” – Jono DiCarlo
*/
/*


----------------SASS------------------*/
$white: #f6feff;
$icon-gray: #ccc;
$light-gray: #5c5c5c;
$text-gray: #5d5d5d;
$dark-gray: #252525;
$black: #000;
$red: #d93330;
$blue: #5d95ba;
$green: #479648;

/*----Sass imports----*/
@import "reset";
@import "defaults";
@import "util";



/*--------------------------------------End General / Start Objects------------------------------------*/

.hide-name{
	display: none;
}

.hide-text{
	text-indent: 200%;
	overflow: hidden;
	white-space: nowrap;
}

.container{
	width: 100%;
}

.double{
	min-height: 1680px;
}

.red{
	color: $red;
}

.blue{
	color: $blue;
}

.light-gray{
	color: $icon-gray;
}

.text-gray{
	color: $text-gray;
}

.dark-gray{
	color: $dark-gray;
}

.underline{
	text-decoration: underline;
}

.heart{
	font-size: .85em;
}


/*--------------------------------------End Objects / Start Main------------------------------------*/

header{
	height: 0;
}

.page:nth-child(1n+1){
	background: $white;
	color: $dark-gray;
}

.page:nth-child(2n+1){
	background: $dark-gray;
	color: $icon-gray;
}

.page-inner{
	// max-width: 1140px;
	@include col(10);
	margin: 0 auto;
	padding-top: 54px;
	text-align: center;
	font-weight: 100;
}

.page{
	@include col(12);
	// min-height: 831px;
	margin-bottom: 9px;
	padding-bottom: 72px;

	p{
		// width: 504px; /*28x18*/
		@include col(6);
		margin: 0 auto;
		font-weight: 100;
	}

	p.quote{
		font-family: 'Tangerine', cursive;
	}

	p.error{
		color: $white;
		font-size: .9em;
		text-align: left;
		// width: 366px;
		@include col(11);
		position: absolute;
		z-index: 99999;
		top: 25%;
		left: 4%;
		padding-left: 3%;
		background: $red;
		opacity: 0;
		@include duration;
	}

	p.error.phone-error{
			top: 39%;
		}
}

.img-container{
	overflow: hidden;
	margin-top: 36px;

		a{
			float: left;
			display: block;
			width: 20%; /*210px*/
		}
}



/*--------------------------------------------Landing----------------------------------------------*/



.page.landing{
	background: $white;
	color: $dark-gray;
}

.arrow-container{
	overflow: hidden;
	// width: 100%;
	@include col(12);
	margin: -10px auto 90px;
}

.landing-arrow{
	margin: 0 auto;
}



/*--------------------------------------------"I Like" Page----------------------------------------------*/

.like .img-container{
	overflow: hidden;
}

p.subtext{
	margin: 36px auto;
	font-size: 2.1em;
}
















/*---------------------------------------------"I Love" Page------------------------------------------------*/

.love{
	overflow: hidden;
}

.logo_cloud{
	position: relative;
	// width: 1050px;
	@include col(11);
	height: 440px;//height required to hold container around positioned elements
	margin: 0 4.1666667%;

	img{
		position: absolute;;
	}
}

//target=.*_l/context=1050px
.air_l{
	top: 52px;
	left: 82.47619%; //866px;
}

.as_l{
	top: 147px;
	left: 76.095238%; //799px;
}

.cf_l{
	top: 239px;
	left: 06.47619%; //68px;
}

.codeigniter_l{
	top: 216px;
	left: 88.095238%; //925px;
}

.css_l{
	top: 105px;
	left: 33.619048%; //353px;
}

.drupal_l{
	top: 156px;
	left: 94.380952%; //991px;
}

.ejs_l{
	top: 168px;
	left: 67.714286%; //711px;
}

.express_l{
	top: 222px;
	left: 22.571429%; //237px;
}

.ffmpeg_l{
	top: 327px;
	left: 55.52381%; //583px;
}

.github_l{
	top: 262px;
	left: 46.47619%; //488px;
}

.handle_l{
	top: 269px;
	left: 65.238095%; //685px;
}

.html_l{
	top: 23px;
	left: 44.380952%; //466px;
}

.jquery_l{
	top: 29px;
	left: 62.190476%; //653px;
}

.js_l{
	top: 105px;
	left: 55.333333%; //581px;
}

.mongo_l{
	top: 271px;
	left: 15.428571%; //162px;
}

.mysql_l{
	top: 114px;
	left: 03.809524%; //40px;
}

.node_l{
	top: 321px;
	left: 35.142857%; //369px;
}

.php_l{
	top: 21px;
	left: 19.52381%; //205px;
}

.sass_l{
	top: 168px;
	left: 45.714286%; //480px;
}	

.terminal_l{
	top: 383px;
	left: 46.285714%; //486px;
}

.wp_l{
	top: 45px;
	left: 03.809524%; //40px;
}















/*---------------------------------------------"I Work" Page------------------------------------------------*/

a.resume{
	font-size: 1.8em;
	color: $icon-gray;
	margin:36px 0 72px;
	display: block;

		img{
			height: 40px;
			margin-right: 18px;
		}
}

.work{
	.img-container{
		margin: 18px 0 126px;
	}

	h3{
		color: $red;
		text-align: left;
	}
}

/*work image hover effect*/
.img_roll{
	background: $black;
	color: $blue;
	padding: 3px;
	// max-height: 200px;

	span{
		@include vertical-align(45%);
		font-family: 'Ubuntu', "Helvetica Neue Light", Helvetica, Arial, sans-serif;
		font-size: 1.8em;
		font-weight: 400;
	}
}





















/*---------------------------------------------Contact Page------------------------------------------------*/

.contact{
	// height: 1584px; /*18x88*/
}

#map-canvas{
	// width: 100%;
	@include col(12);
	// height: 530px;
	margin-top: 72px;
-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.76);
   -moz-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.76);
        box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.76);
}

.contact-body{
	overflow: hidden;
	// width: 802px;
	// @include col(11);
	// margin: 63px 4.1666667% 0;
}

.contact-form{
	// width: 366px;
	// @include col(5);
	float: left;
	margin: 9px 36px 0 0;
	position: relative;/*required for error message absolute positioning*/

	input[type="text"], input[type="email"], input[type="submit"], textarea{
		// width: 366px;
		@include col(11);
		height: 54px;
		border-radius: 2px;
		border: 1px solid $text-gray;
		margin-bottom: 9px;
		padding: 9px;
		font-family: 'Droid Serif', "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
		font-size: 1.8em;
		color: $text-gray;
	}

	textarea{
		// height: 198px;
	}

	input[type="submit"]{
		background: $green;
		border: none;
		font-family: 'Ubuntu', "Helvetica Neue Light", Helvetica, Arial, sans-serif;
		font-weight: 100;
		color: $white;
	}
}

.contact-content{
	// width: 400px;
	// @include col(6);
	float: left;

	p{
		// width: 400px;
		// @include col(12);
		text-align: left;
		color: $text-gray;
		font-weight: 100;
	}
}

p.info{
	margin: 81px auto;
	text-align: center;
}











/*----------------------------------------------Project Pages--------------------------------*/

@import "projects";












/*---------------------------------------------footer------------------------------------------------*/


footer{
	background: $dark-gray;
	height: 144px; /*18x8*/
	padding-top: 70px;

	p{
		// width: 220px;
		@include col(12);
		text-align: center;
		// margin: 0 auto;
	}
}




























/*Media Queries====================*/
//
/*--------------------------------Media Queries------------------------*/

/* Smartphones  ----------- */
@media only screen 
and (min-width : 200px){
	body{
		background: $white;
		background-size: cover;
		background-attachment: fixed;
	}

	.page, .page-inner{
		@include col(12);
	}

	.page{

		p{
			@include col(11);
		}
	}
	

	.img-container{
		@include col(12);
		// margin: 18px 4.1666667%;

		a{
			float: left;
			@include col(5);
			margin: 18px 9px 0 12px;
		}
	}

	.img_roll{
		span{
			@include vertical-align(38%);
			font-size: 1.2em;
		}
	}

	.work{
		h3{
			text-align: center;
			font-size: 2.1em;
		}
	}

	.logo_cloud{
		@include col(10);
		//height: 250px; //need to adjust logo top position to %
		img{
			max-width: 50px;
			max-height: 70px;
		}
	}

	#map-canvas{
		height: 400px;
	}

	.contact{
		height: 0;
		min-height: 1700px;
	}

	.contact-body{
		@include col(12);
		margin: 0;
	}

	.contact-form{
		@include col(10);
		margin: 9px 8.33333335% 0;

		input[type="text"], input[type="email"], input[type="submit"], textarea{
			@include col(12);
			height: 45px;
		}

		textarea{
			height: 162px;
		}
	}

	.contact-content{
		@include col(10);
		margin: 9px 8.33333335% 0;
		float: left;

		p{
			@include col(12);
		}
	}

	p.info{
		@include col(8);
		margin: 36px auto;
	}

	.contact-icons{
		margin-bottom: 36px;

		img{
			max-width: 45px;
		}
	}

	p.quote{
		@include col(11);
		font-size: 2.9em;
	}

}






//--------------------------min-width 480------------------------------------
@media only screen 
and (min-width : 480px) {

	h1{
		font-size: 5.4em;
	}

	h2{
		font-size: 3.9em;
	}

	h3{
		font-size: 2.4em;
	}

	p{
		font-size: 1.6em;
	}


	.page-inner{
		@include col(12);
		padding: 18px;
	}

	.img-container{
		@include col(12);
		// margin: 18px 4.1666667%;

		a{
			float: left;
			@include col(2);
			margin: 18px 9px 0 9px;
		}
	}
	
	.logo_cloud{
		@include col(10);
		margin: 0 8.33333335%;
		//height: 250px; //need to adjust logo top position to %
		img{
			max-width: 90px;
			max-height: 80px;
		}
	}

	.work{
		h3{
			text-align: left;
			font-size: 2.1em;
		}
	}

	.double{
		min-height: 300px;
	}


	.contact{
		height: 0;
		min-height: 1250px;
		overflow: hidden;
	}

	.contact-body{
		@include col(12);
		margin: 63px 0 0;
		float: left;
	}

	.contact-form{
		@include col(5);
		margin: 9px 18px 0 0;
		float: right;

		input[type="text"], input[type="email"], input[type="submit"], textarea{
			@include col(12);
			height: 45px;
		}

		textarea{
			height: 162px;
		}
	}

	.contact-content{
		@include col(5);
		margin: 9px 18px 0;
		float: left;

		p{
			@include col(12);
		}
	}

	p.info{
		margin: 46px auto;
	}

	.contact-icons{
		img{
			max-width: 45px;
		}
	}



}











//tweak name display
@media only screen 
and (min-width : 667px) {
	.hide-name{
		display: inline;
	}
}










//--------------------------min-width 767------------------------------------
@media only screen 
and (min-width : 767px) {
	body{
		background: url('../images/bg.jpg') no-repeat $white;
		background-size: cover;
		background-attachment: fixed;
	}

	h1{
		font-size: 6em;
	}

	h2{
		font-size: 5.1em;
	}

	h3{
		font-size: 2.7em;
	}

	p{
		font-size: 1.8em;
	}

	.page{
		p{
			@include col(8);
		}
	}

	.page.landing{
		min-height: 535px;/* 18x7=126 -> 831-126 -170 for landing-arrow */
	}

	.img-container{
		overflow: hidden;
		margin-top: 36px;
		@include col(12);

			a{
				float: left;
				display: block;
				@include col(2);
				margin: 18px 9px 0 9px;
				height: 210px;
			}
	}

	.img_roll{
		span{
			@include vertical-align(40%);
			// font-size: 1.8em;
		}
	}

	.like .img-container{
		min-height: 378px;/*18x21*/

			a.zig-zag{
				margin-top: 36px;
			}

			a.zig-zag-1{
				margin-top: 166px;
			}

			a.zig-zag-2{
				margin-top: 90px;
			}

			a.zig-zag-3{
				margin-top: 162px;
			}

			a.zig-zag-4{
				margin-top: 108px;
			}
	}

	p.quote{
		@include col(12);
		font-size: 3.6em;
	}

	.contact{
		min-height: 1250px;
	}

	.contact-body{
		@include col(12);
		margin: 63px 0 0;
		float: left;
	}

	.contact-form{
		@include col(5);
		margin: 9px 18px 0 0;
		float: right;

		input[type="text"], input[type="email"], input[type="submit"], textarea{
			@include col(12);
			height: 45px;
		}

		textarea{
			height: 162px;
		}
	}

	.contact-content{
		@include col(5);
		margin: 9px 18px 0;
		float: left;

		p{
			@include col(12);
		}
	}
}




/* Desktops ---------------------- */
@media only screen 
and (min-width : 980px) {

	h1{
		font-size: 7.2em;
	}

	h2{
		font-size: 5.4em;
	}

	h3{
		font-size: 3em;
	}

	.page{
		p{
			@include col(6);
		}
	}

	.contact{
		height: 1484px; /*18x88*/
	}

	#map-canvas{
		height: 530px;
	}

	.contact-body{
		@include col(11);
		margin: 63px 4.1666667% 0;
	}

	.contact-form{
		@include col(5);

		input[type="text"], input[type="email"], input[type="submit"], textarea{
			@include col(11);
			height: 54px;
		}

		textarea{
			height: 198px;
		}
	}

	.contact-content{
		@include col(6);

		p{
			@include col(12);
		}
	}

	p.info{
		margin: 81px auto;
		text-align: center;
		@include col(6);
	}

	.contact-icons{

		img{
			max-width: 100%;
		}
	}

	p.quote{
		@include col(10);
	}

}












/* Large screens ----------- */
@media only screen 
and (min-width : 1220px) {

	.contact-body{
		@include col(9);
		margin: 63px 12.5% 0;
	}

	.contact-form{
		@include col(5);
	}

	.contact-content{
		@include col(5);
	}

	p.info{
		@include col(6);
	}
}




@media only screen 
and (min-width : 1800px) {
	.page-inner{
		@include col(10);
	}
}


@media only screen 
and (min-width : 2000px) {
	.page-inner{
		@include col(8);
	}
}





